.collapsing {
    display: none !important;
}

.navbar-collapse.collapse.in {
	padding-top: 100px;
    display: inline-block;
    position: absolute;
    width: 100%;
    margin: 0px;
    z-index: 300;
    background-color: rgba(0, 0, 0, 0.85);
}


.navbar-collapse.collapse.in ul li a {
	display: inline-block;
	width: 100%;
	color: white;
}

.col-menu {
	margin: 0px;
	padding: 0px;
}

ul.col-menu li {
    border-top: 2px solid #181817;
}


.collapsed-row div.item:nth-child(even) {
    border-left: 2px solid #181817;
}

.collapsed-row .item {
    color: #fff;
    width: 50%;
    text-align: center;
    float: left;
    padding: 30px 0px;
    font-size: 20px;
}