.footer {
	padding-bottom: 25px;
}

.bottom-nav {
	position: relative;
}

.logo-footer {
    position: absolute;
    top: -31px;
    left: 29px;
    z-index: 10;
}


// Navigation
.bot-nav {
    .clearfix;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    padding-top: 18px;
    margin: 0px;
    padding-left: 86px;
}

.list-inline > li {
	vertical-align: top;
    padding-left: 21px;
    padding-right: 3px;
}

.glyphicon-triangle-top {
	font-size: 14px;
    padding-left: 2px;
}


// Contact Us
.contact-us {
	padding-right: 43px;
    text-align: right;
    color: @primary-color;
    padding-top: 14px;
}

.contact-us-info {
	padding-right: 10px;
	display: inline-block;
	vertical-align: top;
}

.contact-us-info > p:first-child {
	font-size: 16px;
    font-weight: bold;
    padding-top: 2px;
    margin-bottom: 0px;
}

.contact-us-info > p:last-child {
	color: #fff;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
}

.contact-us > span.glyphicon-earphone {
    font-size: 29px;
    vertical-align: top;
    padding-top: 5px;
}

.contact-us-icon {
	display: inline-block;
}


// Featured blog
.feat-blog {
    color: #fff;
    padding-top: 8px;
    padding-right: 50px;
    padding-left: 17px;
}

.features {
	padding-left: 100px;
    padding-bottom: 29px;
}

.feat-blog > p {
    letter-spacing: 1px;
    padding-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 3px;
}

.feat-blog > h4 {
    display: inline;
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.feat-blog h4:first-child {
    border-right: 2px solid white;
    padding-right: 5px;
    margin-right: 5px;
}

.feat-blog > a {
	margin-top: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    color: @primary-color;
}

// Moodboards

.recent {
    padding-top: 1px;
	padding-left: 13px;
}

.recent > h4 {
	padding-left: 2px;
    color: #fff;
    font-size: 17px;}

.img-thumbnail {
    padding: 0px;
    border-radius: 2px;
}

.moodboard > li {
	padding: 0px;
	margin: 0px 2px 0px 4px;
}


// Disclaimer and Copyright

.disc {
	text-align: right;
	color: #fff;
	font-size: 13px;
    padding-top: 13px;
	letter-spacing: 0px;
}

.disc .social-icons-header {
	display: inline-block;
    vertical-align: top;
    padding: 0px;

}

.trade .container {
	background-color: transparent;
	margin-top: 0px;
}

.trade {
	margin-bottom: 22px;
}

.disc > p {
	padding-right: 4px;
    display: inline-block;
    vertical-align: top;
   	line-height: 23px;
}

.disc > p > .v-line {
	height: 10px;
    padding-left: 4px;
    margin-right: 3px;
    margin-left: 4px;
    vertical-align: middle;
    line-height: 16px;
}