.page-header {
	position: relative;
	border: none;
	margin-top: 22px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.cart-items {
	display: inline-block;
}


.search-group > input {
	color: #f1f1f12;
	height: 27px;
	vertical-align: top;
	padding-left: 8px;
	padding-right: 16px;
	letter-spacing: 1px;
}

.search-group > button {
	margin-left: 9px;
	padding: 4px 8px;
}

.search-group {
	padding-left: 6px;
}

.logo {
	position: absolute;
}

.main-logo {
    margin: 0 auto;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 6px;
    padding-left: 7px;
    z-index: 311;
}

.menu-item {
	display: inline-block;
}

.nav-header {
	margin-right: 0px;
	margin-left: 0px;
}