.how-to {
	background-color: #ffffff;
    padding-bottom: 40px;
}

.how-to > .fluid-container {
    padding: 9px 55px;
    font-size: 21px;
}

.how-to > .fluid-container > h2 {
	font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 7px;
    color: @primary-color;
}

.card-share {
    text-align: center;
    padding: 27px 0px 30px 18px;
}

div .card-share:first-child {
    padding-left: 0px;
    padding-right: 21px;
}

.card-share .for-bg > p {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    z-index: 15;
    padding: 25px 80px 21px 80px;
    position: relative;
    margin-bottom: 0px;
}

.for-bg {
    .clearfix;

    position: relative;
}

.card-share > .for-bg > .bg-text {
    color: #ead4db;
    position: absolute;
    z-index: 10;
    top: -50px;
    width: 100%;
    font-size: 183px;
}

.card-share > button {
    display: block;
    margin: 0 auto;
    padding: 7px 13px 5px 15px;
    color: #fff;
    border: none;
    border-radius: 9px;
    font-size: 17px;
}

.card-share:first-child > button {
    padding: 5px 7px 7px 13px;
    letter-spacing: 1px;
}

.heart-icon {
    color: #95274d;
    font-size: 1.4em;
    vertical-align: middle;
}