@-ms-viewport       { width: device-width; }


.body {
	font-family: Helvetica,Arial,sans-serif;
}

.padding-right-reset {
	padding-right: 0px;
}

.padding-reset {
	padding-left: 0px;
	padding-right: 0px;
}

a {
	  color: inherit; 
	  text-decoration: inherit;

  &:hover, &:active, &:visited, &:target, &:focus {
	  color: inherit;
	  text-decoration: inherit; 
  }
}

.my-brand {
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	
}	

.container {
	@media (min-width: 1200px) {
		width: 1109px;
	}
}

img {
	max-width: 100%;
}