.navbar-default .navbar-header > .navbar-toggle {
	margin: 17px 18px 17px 0;
	border: none;
}

.navbar-default .navbar-header .navbar-toggle > .icon-bar {
    display: block;
    width: 30px;
    height: 6px;
    border-radius: 6px;
    background-color: #fff;
}



.dropdown-menu>li>a {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.page-header div > form {
	    text-align: right;
		padding-right: 60px;
	}

	ul.navbar-left > li > a.nav-link  {
		font-size: 16px;
	}

	ul.navbar-right > li > a.nav-link  {
		font-size: 16px;
	}

	ul.navbar-right {
		margin-right: 20px;
	}

	.navbar-header {
		background-color: #000;
	}

	.container {
			margin: 0px;
			padding: 0px;
		    width: 100%;
	}

	.search-box {
		padding-right: 0px;
	}

	h4 {
		font-size: 17px;
	}

	.tri-bot, .cart-icon {
	    padding-left: 0px;
	    font-size: 14px;
	}

	.cart {
		padding-left: 6px;
	}

	.navbar-collapse.collapse.in {
		display: none;
	}
}


@media only screen and (max-width: 1125px) {
	.rss>h3 {
		font-size: 18px;
	}

	.rss-social-icons>h4 {
		padding-left: 30px;
	}

	.rss .rss-social-icons {
		padding: 0px;
	}

	.rss-form-group {
		padding-left: 20px;
	}

	.rss-form-group>button {
		margin-left: 0px;
	}

	.search-group {
		padding-left: 0px;
	}

	.search-group > button {
		margin-left: 6px;
	}

	.page-header div > form {
	    text-align: right;
	    padding-right: 50px;
	}
}

@media only screen and(max-width: 1034px) {
	.rss>h3 {
		font-size: 17px;
		letter-spacing: 0px;
	}

	.list-inline>li {
		padding-left: 16px;
	}

	.page-header div > form {
	    text-align: right;
	    padding-right: 35px;
	}

	.card-share .for-bg > p {
		padding-left: 40px;
		padding-right: 40px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.rss>h3 {
		font-size: 18px;
	}

	ul.navbar-left {
		padding-left: 0px;
	}

	ul.navbar-left > li > a.nav-link  {
		padding-right: 0px;
		font-size: 14px;
	}

	ul.navbar-right > li > a.nav-link  {
		font-size: 14px;
		padding-left: 0px;
	}


	.my-nav > .nav-right > li > a.nav-link {
		padding-left: 10px;
		padding-right: 10px;
	}

	ul.navbar-right > li > a {
		margin-right: 0px;
	}

	.overlay-text > button {
		margin: 20px 0px 11px 89px;
	}	

	.cycle-pager span { 
		font-size: 50px;
	}

	.browse-share img.share-img {
		padding-right: 0px;
	}

	div.card-share {
		padding-left: 15px;
		padding-right: 15px;
	}

	.card-share button  {
		margin-top: 20px;
	}

	.browse-share button {
		margin-top: 40px;
	}

	.my-pager > button {
		padding: 8px 10px 6px 11px;
	}

	ul.bot-nav > li {
		vertical-align: top;
    	padding-left: 7px;
    	padding-right: 0px;
	}

	.rss > h3 {
		text-align: center;
	}

	.rss > form {
		text-align: right;
	}

	.rss > form > button {
	    border-radius: 6px;
	    border: none;
	} 

	.rss-form-group>button {
		margin-left: 20px;
	}

	.rss-social-icons>h4 {
		padding-left: 0px;
	}

	.rss-social-icons > .social-icons-header {
		padding-right: 0px;
	}

	.navbar-collapse.collapse.in {
		display: none;
	}

	.page-header div > form {
	    padding-right: 0px;
	    text-align: left;
	}

	.para > h3 {
		font-size: 22px;
	}

	.para > p {
		font-size: 14px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.how-to > .fluid-container {
		padding: 0px;
	}

	.how-to > .fluid-container > h2 {
		margin-left: 35px;
		margin-right: 35px;
	}

	.para {
		padding-right: 0px;
    	padding-bottom: 35px;
	}

	.para > h3 {
		padding-top: 20px;
	}

	div .card-share:first-child {
		padding-left: 15px;
	}

	.dropdown-menu {
		display: none;
	}

	.my-pager > button {
		padding-top: 2px;
		font-size: 14px;
		left: 20px;
	}

	.for-bg {
		padding-bottom: 35px;
	}

	.tag-line {
		padding-top: 7px;
	}

	.container > .tag-line > h4 {
		font-size: 14px;
		letter-spacing: 0px;
		text-align: center;
	}

	.page-header {
		margin-top: 0px;
	}

	.bottom-nav > ul.list-inline > li {
		font-size: 14px;
		padding-right: 5px;
	}

	.overlay-text {
		position: static;
    	margin: 0 auto;
        background-color: rgba(243, 243, 239, 1);
	}

	.overlay-text > p {
		text-align: center;
	}

	.overlay-text > button {
	    margin: 0 auto;
	    float: none;
	    width: 70%;
	    margin-bottom: 20px;
	    padding: 10px 15px;
    }

	.paragraphs {
		background-color: #fff;
	}

	.paragraphs > .para:before {
		content: "";
		display: block;
		margin: 0 auto;
		height: 4px;
		background-color: @primary-color;
		width: 15%;
	}

	.seperator-text {
		padding: 6px 11px 7px 9px;
		font-size: 17px;
	}

	.card-share .text-bg, .browse-share .text-bg {
		padding-bottom: 30px;
	}

	ul.bot-nav {
		float: right;		
	}

	ul.bot-nav > li {
		padding-right: 20px;
	}

	.rss > h3 {
		text-align: center;
		width: 100%;
	}

	form > .rss-form-group {
		margin-top: 10px;
		display: block;
		padding: 0px;
		text-align: center;
		width: 100%;
	}

	.rss-form-group > input{
		border-radius: 6px;
		border: none;
		width: 100%;
	}
}

@media only-screen and(max-width:640px) {
	.container > .tag-line > h4 {
		font-size: 12px;
	}


	.container > .tag-line > h4:first-child{
		text-align: left;
	}

	.container > .tag-line > h4:last-child {
		text-align: right;
	}

	.how-to .card-share:last-child > button {
		margin-top: 32px;
	}

	.my-pager>button {
		font-size: 16px;
	}
}

@media only screen and(max-width:585px) {
	.tag-line > h4.pull-left, .tag-line > h4.pull-right {
		font-size: 12px;
	}

	.navbar-default .navbar-header>.navbar-toggle {
		margin-top: 10px;
		margin-bottom: 10px;
	}


	div.navbar-collapse.collapse.in {
		padding-top: 65px;
	}

	.main-logo {
		width: 20%;
	}

	ul.bot-nav>li {
    	padding-right: 7px;
    }

    .card-share > .for-bg >p {
    	padding-left: 30px;
    	padding-right: 30px;
    }
	.how-to>.fluid-container>h2 {
		font-size: 20px;	
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.navbar-default .navbar-header>.navbar-toggle {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.tag-line {
		padding-top: 5px;
	}

	.tag-line > h4:first-child, .tag-line > h4:last-child {
		font-size: 9px;
	}

	.head-row .main-logo {
		width: 24%;
   	 	top: 25%;
   	}

   	.rss > h3 {
   		font-size: 1em;
   	}

   	.main-logo {
   		top : 20px;
   	}

   	.how-to button {
   		margin-top: 0px;
   	}
}


@media only screen and (max-width: 434px) {
	.main-logo {
		top : 27px;
	}

	.tag-line > h4:first-child, .tag-line > h4:last-child {
		font-size: 8px;
	}
	.tag-line > h4:first-child {
		padding-right: 15px;
	}

	.tag-line > h4:last-child {
		padding-left: 60px;
		padding-right: 10px;
	}

	.card-share > .for-bg >p {
    	padding-left: 10px;
    	padding-right: 10px;
    }

	.how-to>.fluid-container>h2 {
		font-size: 16px;	
	}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.card-share {
		width: 100%;
	}

	.tag-left, .tag-right {
		font-size: 8px;
	}

	.how-to>.fluid-container>h2 {
		font-size: 12px;	
	}
}