.drop-style {
	background-color: #fff;
	color: #000;
}

.my-acc {
	display: block;
    padding-left: 10px;
    display: block;
    position: relative;
}

.my-acc > h4 {
	display: inline-block;
	margin-top: 9px;
}

.menu-bar {
	color: #fff;
	overflow: visible;
	padding-top: 18px;
	padding-left: 22px;
}

.tri-bot {
	vertical-align: top;
	padding-left: 7px;
	padding-top: 11px;
	font-size: 18px;
}

.cart-menu .tri-bot {
	padding-left: 0px;
    padding-top: 9px;
}

.shopping-cart-icon {
	transform: scaleX(-1);
    font-size: 26px;
    padding-top: 4px;
}


.cart-menu {
	padding-left: 13px;
}

.cart-menu > h4 {
    padding-left: 5px;
    vertical-align: top;
    display: inline-block;
    margin-top: 7px;
}


.row-menu {
	padding-bottom: 7px;
	padding-left: 27px;
}

.row-menu div:last-child {
	padding-right: 0px;
}

