.navbar > .container-fluid>.navbar-header {
    margin-left: 0px;
    margin-right: 0px;
}


.navbar-nav {
    color: #000;
    padding-left: 17px;
}

.nav-link {
    font-size: 18px;
    padding-left: 27px;
}

.navbar {
    min-height: auto;
    border-radius: 0px;
    margin-bottom: 0px;
    border-style: none;
}

.navbar-right {
    margin-right: 61px;
}

.nav >li>a.nav-link {
    color: #000;
    padding: 8px 20px 8px 20px;

    &:hover {
        background-color: #f3e3ef;
    }
}

.nav >li>a.nav-right-item {
    color: #000;
    padding: 9px 32px 8px 23px;
}

.dropdown-menu>li>a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdown-menu li > a:hover {
    background-color: @primary-color;
    color: #fff;
}

.my-nav {
    margin-left: 29px;
}

.navbar-toggle {
    background-color: transparent;
}

.navbar-collapse {
    border-top: 0px;
}

.navbar-header > a.navbar-brand {
    height: 20px;
    padding: 5px;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    margin-top: 35px;
    margin-left: 10px;
    color: white;
    z-index: 300;
}

li.col-search {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 50px;    
}

.col-search > input {
    border: none;
    border-radius: 6px;
    padding: 5px 30px;
}

.col-search > button {
    background-color: @primary-color;
    color: white;
    border: none;

    padding: 5px 10px;
    &:hover {
        background-color: contrast(@primary-color, black, white);
    }
}