.tag-line {
	color: white;
    align-content: center;
    padding-top: 9px;
    font-size: 20px;
    display: block;
    background-color: @primary-color;
    padding-bottom: 8px;
}

.tag-line > h4 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
}

.tag-line > h4:first-child {
    padding-right: 60px;
    text-align: right;
    letter-spacing: .9px;	
}

.tag-line > h4:last-child{
	padding-left: 55px;
    letter-spacing: 2px;
    text-align: left;
}

.cycle-pager { 
    text-align: center;
    width: 100%; 
    z-index: 201;
    position: absolute;
    bottom: 25%;
    overflow: hidden;
}

.cycle-pager span { 
    font-family: arial; 
    font-size: 80px; 
    width: 27px; 
    height: 16px; 
    display: inline-block; 
    color: @color-cycle-pager; 
    cursor: pointer; 
}

.cycle-pager span.cycle-pager-active { 
	color: @color-cycle-pager-active;
}

.cycle-pager > * { 
	cursor: pointer;
}


.pager-wrapper {
    position: relative;
    background-color: rgba(243, 243, 239, 1);
}

.my-pager {
	position: relative;
}


.my-pager>button {
    position: absolute;
    border-radius: 6px;
    border: none;
    z-index: 250;
    bottom: 26%;
    left: 12.4%;
    padding: 8px 16px 13px 14px;
    font-size: 19px;
}

.divider {
	background-color: @primary-color;
    position: absolute;
    left: 0;
    height: 5px;
    right: 0;
    z-index: 105;
    bottom: 26%;
}

.overlay-text {
	color: #000;
	padding-left: 17px;
	padding-right: 10px;
    max-width: 385px;
    top: 43px;
    z-index: 150;
    background: rgba(255,255,255,.5);
    position: absolute;
    right: 59px;
}


.overlay-text > h3.strike {
	margin-right: 11px;
	font-size: 19px;
    font-weight: bold;
    margin-top: 13px;
    text-align: center;
}


.overlay-text h3:first-child {
    font-size: 25px;
    margin: 0px;
    margin-top: 13px;
    font-weight: bolder;
    letter-spacing: 9px;
}


.for-internet {
	font-size: 25px;
    margin: 0px;
    margin-top: 11px;
    text-align: justify;
    font-weight: bolder;
    letter-spacing: 3px;
}

.overlay-text > p {
	padding-top: 14px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
}

.overlay-text > button {
    display: block;
    float: right;
    border: none;
    border-radius: 7px;
    margin-bottom: 18px;
    margin-right: 8px;
    padding: 8px 11px 5px 12px;
    color: #fff;
    font-size: 16px;
    margin-top: 2px;
    letter-spacing: 1px;}
