.paragraphs {
	background-color: @color-gray-bg;
	color: #000;
	text-align: center;
	padding: 39px 20px;
}


.paragraphs h3 {
	font-size: 27px;
	font-weight: bold;
	margin-top: 0px;
}


.paragraphs p {
	font-size: 16px;
	line-height: 23px;
	margin: 0px;
	text-align: center;
}

.para > p {
    padding: 2px 40px;
}

.para {
	padding-left: 0px;
	display: inline-block;
}