.rss {
	background-color: #000;
	color: @color-white;
	padding-bottom: 16px;
}

.rss > h3 {
	display: inline-block;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
}

.rss-form-group {
    padding-right: 0px;
    padding-top: 21px;
    padding-left: 55px;
}

.form-inline .rss-form-group {
    display: block;
}

.rss-form-group > input {
    padding: 5px 00px 4px 4px;
    display: inline-block;
    color: black;
    font-size: 12px;
    max-width: 204px;
}

.rss-form-group > button {
    margin-left: 21px;
    margin-top: 2px;    
    padding: 3px 16px 4px 14px;
    border-radius: 12px;
}

.rss-social-icons > h4 {
    display: inline-block;
    padding-left: 47px;
    text-align: right;
    padding-right: 5px;
    padding-top: 29px;
    margin: 0px;
    font-size: 14px;
    letter-spacing: 1px;
}

.rss-social-icons > .social-icons-header {
	display: inline-block;
    vertical-align: top;
    padding-left: 0px;
    padding-top: 24px;
}