body {
  background-color: #3b3b3b;
}

.container {
	margin-top: 38px;
	background-color: black;
}

.container-fluid {
	padding: 0px;
}

body > .container-fluid {
	background-image: url(../img/background.png);
}

.open .dropdown-menu {
	width: 100%;
    border: 0px;
    margin-top: 0px;
    border-radius: 0px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.btn {
	border: none;
	background-color: @primary-color;
	color: @color-white;

	&:hover {
		background-color: lighten(@button-hover-bg-color, 20%);
		color: @color-white;
	}	
}

.strike {
    overflow: hidden;
    text-align: center;

    &:before, &:after {
	    background-color: @primary-color;
	    content: "";
	    display: inline-block;
	    height: 3px;
	    position: relative;
	    vertical-align: middle;
	    width: 50%;
	    top: -2px;    	
    }

    &:before {
	    right: 0.5em;
    	margin-left: -50%;
    }

    &:after {
	    left: 0.5em;
    	margin-right: -50%;
    }
}