.social-icons-bg {
	background-image: url(../img/social-icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.fb-icon {
	.social-icons-bg;
 	width: 28px;
    height: 30px;
    background-position: -5px -5px;
    margin-right: 3px;

    &:hover {
    	background-position: -5px -45px;
    }
}

.pinterest-icon {
	.social-icons-bg;
	width: 28px;
	height: 30px;
	background-position: -5px -85px;

	&:hover {
		background-position: -5px -125px;
	}
}

.twitter-icon {
	.social-icons-bg;
	width: 28px;
	height: 30px;
	background-position: -5px -165px;

	&:hover {
		background-position: -5px -205px;
	}
}

.social-icons-header {
	padding-left: 3px;
	padding-top: 22px;
}

.rss .social-icons-header > .fb-icon, .disc > .social-icons-header > .fb-icon {
	float: left;
	background-size: cover;
	width: 31px;
    height: 30px;
    background-position: 6px -5px;
    margin-right: 0;

    &:hover {
    	background-position: 6px -37px;
    }
}

.rss .social-icons-header > .pinterest-icon, .disc > .social-icons-header > .pinterest-icon {
	float: left;
	background-size: cover;
	width: 31px;
    height: 25px;
    background-position: 5px -70px;

    &:hover {
	    background-position: 5px -102px;

    }
}

.rss .social-icons-header > .twitter-icon, .disc > .social-icons-header > .twitter-icon {
	background-size: cover;
	float: left;
    width: 29px;
    height: 29px;
    background-position: 4px -125px;

    &:hover {
    	background-position: 4px -157px;
    }
}