@back-color: 				#3b3b3b;

@primary-color:				#95274d;

@button-hover-bg-color: 	#95274d;
@button-hover-text-color:	#000;

@grid-float-breakpoint: 	768px;

@color-white: 				#fff;

@color-cycle-pager:			#313130;
@color-cycle-pager-active:	#5f6060;

@color-gray-bg: 			#f3f3ef;